/* ---------------------------------------------------Colours */

* {
    --charcoal-smoke: #2c2b3c;
    --floral-white: #fffaf0;
    --indigo-gray: #3f3d56;
    --muted-lilac: #b7afc3;
    --cool-teal: #88bdbc;
    --mist-mauve: #dcd6f7;
    --light-gray: #ededed;
    --french-gray: #BAC7D6;
    --steel-blue-gray: #a6a6b2;
    --soft-fern: #a8d5ba;
    --orange-web: #fead34;
    --dusty-rose: #d77a85;
}

/* ---------------------------------------------------Whole Page */

body {
    background-color: var(--charcoal-smoke);
    font-family: "Chocolate Classical Sans", sans-serif;
}

a {
    text-decoration: none;
}

/*------------------------------------------------ Header */

header {
    position: sticky;
    top: 0;
}

h1 {
    display: inline-block;
}

.site-logo,
.site-title {
    color: var(--floral-white);
    font-size: calc(1.375rem + 1.5vw);
    margin-top: 0;
    margin-bottom: .5rem;
}

.btn-link {
    color: var(--floral-white);
    font-size: 1.5rem;
}

.btn-link:hover {
    color: var(--orange-web);
}

/*------------------------------------------------ Collapsible Navigation Menu */

.card {
    background-color: var(--indigo-gray);
}

/*------------------------------------------------ Navbar (md + lg screens) */

.nav-link {
    color: var(--floral-white);
}
/*
.nav-link:hover {
    color: var(--orange-web);
}*/

.active {
    color: var(--orange-web);
}


/*------------------------------------------------ Footer */

h6 {
    color: var(--floral-white);
    display: inline-block;
    margin: 0;
/*    text-align: right; */
/*    width: 30%; */
}

.social-links {
    width: 150px;  
}

.personal-info a,
.social-links a {
    color: var(--floral-white);
}

.location a {
    cursor: none;
}

.social-links a:hover {
    color: #0b5ed7; /* bs-btn-hover-bg*/
}

.fa-brands {
    font-size: 1.5rem;
}

.btn-primary {
    background-color: var(--soft-fern);
    border-color: var(--soft-fern);
    color: var(--indigo-gray);
    font-weight: 500;
    outline: var(--cool-teal);
    width: 125px;
    
}

@media (min-width: 768px) {
    .social-links,
    .download-btn {
        width: 150px;
        margin-left: auto;
        margin-right: 1rem;
    }
}

@media (min-width:1200px) {
    .email-address {
        width: 40%;
    }
    .telephone {
        width: 30%;
    }
}

/*------------------------------------------------ Contact Modal */

.modal-header,
.modal-footer {
    background-color: var(--indigo-gray);
}

.modal-title, .btn-close i {
    color: var(--floral-white);
}

.btn-close {
    background-image: none;
}

.modal-body {
    background-color: rgba(183, 175, 195, 0.1); /* Muted Lilac*/
}

.form-label, .form-control, .form-text {
    color: var(--indigo-gray);
}

.btn-secondary {
    background-color: var(--steel-blue-gray);
    border-color: var(--steel-blue-gray);
    color: var(--floral-white);
}

.was-validated .form-control:invalid {
    border-color: var(--dusty-rose);
}