/* Google Fonts Import:
    Blinker, IBM Plex Sans 
    + Open Sans (all multi-weights) */
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    --floral-white: #FFFAF0;
    --anti-flash-white: #F3F3F7;

    --raisin-black: #131019;
    --charcoal-smoke: #2c2b3c;
    --indigo-gray: #3f3d56;

    --steel-blue-gray: #a6a6b2;
    --french-gray: #bac7d6;
    --light-gray: #ededed;

    --soft-fern: #a8d5ba;
    --orange-web: #fead34;
    --light-coral: #ee818a;
    --cherry-blossom-pink: #f3a5ac;
}

:root,
[data-bs-theme=light],
[data-bs-theme=dark] {
    --bs-link-color: var(--floral-white);
    --bs-link-hover-color: var(--orange-web);

    --bs-form-invalid-color: var(--light-coral);
    --bs-form-invalid-border-color: var(--light-coral);

    --bs-btn-close-opacity: 0.75;
    --bs-btn-close-hover-opacity: 1;

/* TODO: Review
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
*/
}

/* --------------------------------------------------- Colours */

.site-title-color {
    color: var(--floral-white);
}

.page-heading-font-color {
    color: var(--floral-white);
}

.subheading-font-color {
    color: var(--floral-white);
}

.footer-text-color {
    color: var(--floral-white);
}

.details-links:hover {
    color: var(--orange-web);
}

.social-links-color {
    color: var(--floral-white);
}

.social-icon:hover {
    color: var(--orange-web);
}

.active {
    color: var(--orange-web);
}

/* --------------------------------------------------- Site-wide */

body {
    background-color: var(--charcoal-smoke);
    color: var(--floral-white);
    font-family: "Open Sans", sans-serif;
}

section.container-fluid {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

img {
    width: 100%;
}

.img-border {
    border: 1px solid rgba(255, 250, 240, 0.4); /* Floral white */ /* muted lilac: rgb(220, 214, 247) */
    border-radius: 0.5rem;
}

a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

.secondary-font {
    font-family: "Blinker", sans-serif;
    font-weight: 200;
}

.page-heading,
.content-box {
    width: 100%;
}

.content-box {
    background-color: rgba(183, 175, 195, .3); /* muted lilac */
    border: 1px solid var(--indigo-gray);
    border-radius: .5rem;
    height: 100%;
}

.subheading {
    font-size: 18px;
    margin-bottom: .75em;
}

.subheading-icon {
    
}

.list-group-item {
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--floral-white);
    display: flex;
}

.btn-primary {
    background-color: var(--soft-fern);
    border-color: var(--soft-fern);
    outline: var(--soft-fern);
    width: 132px;
}

.btn-secondary {
    background-color: var(--light-gray);
    border-color: var(--light-gray);
    outline: var(--light-gray);
    width: 100px;
}

.btn-font-style {
    color: var(--raisin-black);
    font-weight: 500;
}

.btn-primary:hover {
    background-color: var(--orange-web);
    border-color: var(--orange-web);
    color: var(--charcoal-smoke);
    outline: var(--orange-web);
}

.btn-secondary:hover {
    background-color: var(--cherry-blossom-pink);
    border-color: var(--cherry-blossom-pink);
    color: var(--charcoal-smoke);
    outline: var(--cherry-blossom-pink);
}

.btn-font-style:hover {
    color: var(--anti-flash-white);
    font-weight: 500;
}

.btn-close {
    background-image: none;
    color: inherit;
    line-height: 1;
    opacity: 0.8;
}

.btn-close:hover {
    opacity: 0.9;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* Icon Grow */
.hvr-icon-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-icon-grow .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-icon-grow:hover .hvr-icon, .hvr-icon-grow:focus .hvr-icon, .hvr-icon-grow:active .hvr-icon {
    -webkit-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0);
}

@media (min-width: 576px) {
    img {
        width: 100%;
    }

    .page-heading,
    .content-box {
        width: 95%;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

/*------------------------------------------------ Header */

header {
    background-color: var(--charcoal-smoke);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.site-title {
    line-height: 1;
}

.fa-code {
    padding-bottom: .15em;
    padding-top: .15em;
}

.fa-bars {
    padding-bottom: .4em;
}

/*------------------------------------------------ Navigation Menu */

.nav-toggle-menu {
    background-color: rgba(44, 43, 60, 0.8); /* charcoal smoke */
    height: 100%;
    position: fixed;
    top: 12%;
    width: 100%;
}

.card {
    background-color: var(--indigo-gray);
    border: 1px solid var(--steel-blue-gray);
}

@media (min-width: 576px) {
    .nav-toggle-menu {
        top: 23vh;
    }
}

@media (min-width: 768px) {

}

/*------------------------------------------------ Contact Modal */

.modal-title-bar-color {
    background-color: var(--indigo-gray);
}

.modal-title-font-color {
    color: var(--floral-white);
}

.form-bg-color {
    background-color: var(--anti-flash-white);
}

.form-text-color {
    color: var(--raisin-black);
}

/*------------------------------------------------ About */

.profile-picture {
    width: 87.5%;
}

.about-me-languages-list {
    padding-left: 42px;
    padding-right: 0;
}

.languages-icon {
    background-color: var(--floral-white);
    border-radius: .3rem;
    height: 25px;
    font-size: 19px;
    padding-left: .075em;
    text-align: center;
    width: 28px;
}

.languages-text {
    font-size: 14px;
    font-weight: 200;
}

.fa-html5 {
    color: #DD4B25;
}

.fa-css3 {
    color: #1579B8;
}

.fa-bootstrap {
    color: #6D2BEF;
}

.about-me-text {
    font-size: 16px;
}

@media (min-width: 576px) {
    .content-box.about-me {
        padding-top: 1.75rem !important;
    }
    
    .profile-picture {
        margin-left: 1.25rem !important;
        width: 100%;
    }

    .about-me-text {
        width: 67.5%;
    }
}

@media (min-width: 768px) {

}

@media (min-width:992px) {

}

/*------------------------------------------------ Skills    */

.content-box.skills {
    padding-bottom: 1.25rem !important;
}

.skills-list {
    font-size: 16px;
    padding-left: 2.75em;
}

.skills-list > .list-group-item {
    padding-left: .5em;
    padding-right: .75em;
}

.badge {
    width: 47.5%;
}

.bg-not-started-bg-color {
    background-color: var(--french-gray) !important;
}

.bg-beginner-bg-color {
    background-color: var(--orange-web) !important;
}

.bg-intermediate-bg-color {
    background-color: var(--soft-fern) !important;
}

.bg-text-font {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    color: var(--raisin-black) !important;
}

@media (min-width: 576px) {
    .skills-page-heading {
        padding-left: 2rem !important;
    }

    .content-box.skills {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        width: 75%;
    }

    .skills-list {
        padding-left: 4em;
        padding-right: .5em;
    }
}

@media (min-width: 768px) {

}

@media (min-width:992px) {

}

/*------------------------------------------------ Projects */

.project-image {
    width: 92.5%;
}

.project-content-width {
    width: 90%;
}

@media (min-width: 576px) {
    .content-box.project {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .project-image {
        width: 90%;
    }
}

@media (min-width: 768px) {

}

@media (min-width:992px) {

}

/*------------------------------------------------ Success and Error Pages */

.return-home-btn {
    height: 28px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
    width: 120px;
}

/*------------------------------------------------ Footer */

.footer-padding {
    padding-left: 1.75rem;
    padding-right:  1.75rem;
}

.details-links {
    padding-bottom: 0.25em;
}

.social-links {
    min-width: 136px; 
}

.social-icon {
    padding-left: .25em;
    padding-right: .25em;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width:992px) {

}